/* CSS Reset  */
*{
    margin: 0px;
    padding:  0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;

}

/* Navigation bar : Logo and Images*/
#logo{
    margin: 2px 20px;
    
}
#logo img{
    height: 54px;
    margin: 0px 3px;
   
}

/* Navigation bar : List styling*/
#navbar{
    position:fixed;
    width: 100%;
    
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.7;
}


#navbar ul li{
    font-family: 'Lobster', cursive;
    list-style: none;
    font-size: 1.2rem;
}
#navbar li a {
    color: rgb(255, 255, 255);
    display: block; /*display block bcz i have to do padding*/
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 20px;
}
#navbar li a:hover {
    color: black;
    background-color: aliceblue; 
    padding: 7px 18px;
    text-decoration: none;
    border-radius: 20px;
}

/* home Section */
#home{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center ;
    height: 438px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    padding: 5px 150px;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 485px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}
#home p{
    font-size : 1.4rem;
    color: rgb(165, 154, 222);
}
#home h1{
    font-size: 3.2rem;
    color: white;
}

/* services section  */
.service{
    display: flex;
    margin: 20px 65px;
}
.service .box{ 
    border: 2px solid rgb(58, 3, 3); 
    margin: 4px 5px;
    padding: 16px;
    border-radius: 15px;
    background-color: antiquewhite;
    
} 
.service .box img{
    height: 140px;
    margin: auto;
    display: block;
}
.service .box p{
    font-family: 'Acme', sans-serif;
}
  /*Client-section*/
/* #client-section{
    height: 344px;
    position: relative; (something went wrong)
} */

#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
#clients::before{
    content: "";
    position: absolute;
    background: url('../img/bcg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 60%;
    z-index: -1;
    opacity: 0.2;
}
.client-item img{
    height: 110px;
}
.client-item img{
    padding: 34px;
}
/* Contact section */
#contact{    
position: relative;
}
#contact::before{    
 content: "";
 position: absolute;
 height: 100%;
 width: 100%;
 background: url('../img/contact.jpg') no-repeat center center/cover;
 z-index: -1;
 opacity: 0.5;
}
 #contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
 }
 #contact-box input,
 #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 9px;
    font-family: 'Acme', sans-serif;
 }
 #contact-box form{
    width: 40%;
    
 }
 #contact-box label{
    font-size: 1.2rem;
    font-family: 'Acme', sans-serif;

 }
footer{
    background: black;
    color: white;
    padding: 2px 12px;
}
/* utility classes */
.h-primary{
    font-size: 2.4rem;
    font-family: 'Acme', sans-serif;
    padding: 0px;
     margin-top: 55px; }
.h-secondary{
    font-size: 1.5rem;
    padding: 10px;
    font-family: 'Acme', sans-serif;
}
.btn{
    padding: 7px 12px;
    margin: 6px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
}
.btn:hover{
    padding: 7px 12px;
    margin: 6px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(228, 198, 159);
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
}

.center{
    text-align: center;
}